@import "./variables.scss";

//books
.card-skeleton {
  display: flex;
  justify-content: flex-start;
  margin: $spacing1;
}

a.bookCardLink {
  color: black;
  text-decoration: none;
}

.title-author {
  margin: 0 $spacing1;
}
//messages styles

//info styles
.second-row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 0 $spacing1;
}
.third-row {
  margin: 0 $spacing1;
}

.title-author {
  font-weight: bold;
}

.age {
  color: pink;
}
.page-count {
  color: green;
}
.price {
  color: blue;
}

.description {
  color: navy;
}

//toggle styles
.toggle-label {
  font-family: $primary-font;
}

section.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

//search bar styles
section.search-bar {
  display: flex;
  justify-content: center;
}

//chatbot styles
//height of message window
.rsc {
  height: $space-between-header-footer;
}

.rsc-footer {
  position: fixed;
  border: solid pink 10px;
  visibility: hidden; //since it's all predefined entry for now
}
//turn off shadow otherwise there's a line between the header and the rest of the chat
.rsc-container {
  box-shadow: none;
}
