@import "./variables.scss";

//books
.card-skeleton {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  margin: $spacing1;
  height: auto;
}

a.bookCardLink {
  color: black;
  text-decoration: none;
}

.title-author {
  margin: 0 $spacing1;
}

//info styles
.second-row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 0 $spacing1;
}
.third-row {
  margin: 0 $spacing1;
}

.title-author {
  font-weight: bold;
}

.age {
  color: pink;
}
.page-count {
  color: green;
}
.price {
  color: blue;
}

.description {
  color: navy;
}

//toggle styles
.toggle-label {
  font-family: $primary-font;
}

section.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

//search bar styles
section.search-bar {
  display: flex;
  justify-content: center;
}
