@import "./variables.scss";
//chatbot styles
//height of message window
.rsc {
  height: $space-between-header-footer;
}

.rsc-footer {
  position: fixed;
  border: solid pink 10px;
  visibility: hidden; //since it's all predefined entry for now
}
//turn off shadow otherwise there's a line between the header and the rest of the chat
.rsc-container {
  box-shadow: none;
}
