@import "./variables.scss";

.info-card {
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-avatar {
}

.title-author-display {
}

div.info {
  display: flex;
  justify-content: space-between;
}
