@import "./variables.scss";

.info-card {
  display: flex;
  justify-content: flex-start;
  margin: $spacing1 0;
}

div.info-col {
  display: flex;
  flex-direction: column;
  margin: 0 $spacing1;
}

.second-row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 0 $spacing1;
}
.third-row {
  margin: 0 $spacing1;
}

.title-author {
  font-weight: bold;
}

.age {
  color: pink;
}
.page-count {
  color: green;
}
.price {
  color: blue;
}

.description {
  color: navy;
}
