// @import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "./variables.scss";

.profile-label {
  font-family: $primary-font;
  color: $primary-color;
}

.profile-preference {
  margin: $spacinghalf $spacing1;
  padding: $spacing1;
  box-shadow: 2px 2px 10px $box-shadow;
  background-color: $slider-color;
}
.profile-avatar {
  display: flex;
  justify-content: center;
  margin: $spacing1;
}
//genres
.genre-box {
  margin-top: $spacinghalf;
  display: flex;
  flex-wrap: wrap;
  gap: $spacinghalf;
}
.selected {
  background-color: lightseagreen;
  // margin-right: $spacinghalf;
  border: 2px lightgrey solid;
  border-radius: 16px;
  padding: 0.25em 0.5em;
  height: 1em;
  display: flex;
  align-items: center;
  .chipText {
    font-size: 0.75em;
    color: lightgrey;
  }
}
.deselected {
  border: 2px lightgrey solid;
  border-radius: 16px;
  padding: 0.25em 0.5em;
  height: 1em;
  display: flex;
  align-items: center;
  .chipText {
    font-size: 0.75em;
    color: black;
  }
}

.chipText {
  font-size: 0.75em;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-top: -1em;
}

.maturity {
  display: flex;
  justify-content: space-between;
}
.user {
  text-align: center;
}
