// @import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "./variables.scss";

.profile-label {
  font-family: $roboto;
  font-weight: 500;
  // font-size: 0.9em;
  // color: $primary-color;
  // text-transform: uppercase;
}

.explanation {
  text-transform: lowercase;
  font-family: $roboto;
  font-weight: 300;
  opacity: 0.5;
}

.profile-preference {
  margin: $spacinghalf $spacing1;
  padding: 1.5em;
  box-shadow: 2px 2px 10px $box-shadow;
  background-color: $slider-color;
}
.profile-avatar,
.update-avatar {
  display: flex;
  justify-content: center;
  margin: $spacing1;
}
//genres
.genre-box {
  margin-top: $spacinghalf;
  display: flex;
  flex-wrap: wrap;
  gap: $spacinghalf;
}
.selected {
  background-color: $red;
  // margin-right: $spacinghalf;
  border: 2px $red solid;
  border-radius: 16px;
  padding: 0.25em 0.5em;
  height: 1em;
  display: flex;
  align-items: center;
  .chipText {
    font-size: 0.75em;
    font-family: $roboto;
    color: white;
  }
}
.deselected {
  border: 2px solid lightgrey;
  border-radius: 16px;
  padding: 0.25em 0.5em;
  height: 1em;
  display: flex;
  align-items: center;
  .chipText {
    font-size: 0.75em;
    font-family: $roboto;
    color: black;
  }
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-top: -0.5em;
  font-family: $roboto;
}

.maturity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  text-align: center;
}

.MuiSlider-root {
  color: $red !important;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: $red !important;
}
.MuiSwitch-track {
  background-color: $red !important;
}

.username {
  text-align: center;
  font-family: $typewriter-font;
  font-weight: 500;
  font-size: 2em;
}

.postalCode {
  margin-top: 0.35em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: $typewriter-font;
  font-weight: 500;
  font-size: 1.5em;
}
