@import "./variables.scss";

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: $space-above-footer;
  background-repeat: no-repeat;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.swipe {
  position: absolute;
  width: 100vw;
  height: $space-above-footer;
}

//all buttons
.swal2-styled {
}

.swal2-confirm {
  background-color: pink !important;
}
.swal2-cancel {
}

//match box
.swal2-popup {
  //put the just-swiped book as the container background image
}

//match container
// swal2-container swal2-center swal2-backdrop-show
