@import "./variables.scss";

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: $space-above-footer;
  background-repeat: no-repeat;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.swipe {
  position: absolute;
  width: 100vw;
  height: $space-above-footer;
}

//all buttons
.swal2-styled {
  // background-color: pink !important;
}

.matchLink {
  text-decoration: none !important;
  color: white !important;
}

.swal2-confirm {
  font-family: $roboto;
  font-weight: 300 !important;
  background-color: black !important;
}
.swal2-cancel {
  font-family: $roboto;
  font-weight: 100;
  font-weight: 300 !important;
  color: black !important;
  background-color: white !important;
}

//match box
.swal2-popup {
  background: none !important;
}

//match container
.swal2-container {
  // background-color: black !important;
  background-image: url("https://images.unsplash.com/photo-1587538939413-9f19e9e5afb6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80") !important;
  background-size: cover !important;
}

//match text
.swal2-title {
  color: white !important;
  font-family: $typewriter-font;
}
