@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$primary-font: "Source Sans Pro", sans-serif;
$typewriter-font: "Courier Prime", monospace;
$roboto: "Roboto", sans-serif;

$primary-color: #10ac84;
$chatBubbleColour: #1976d2;
$red: #cd3827;

$spacing1: 1rem;
$spacinghalf: 0.5rem;
$spacingnav: 48px;
//User profiles
$box-shadow: grey;
$slider-color: white;
$space-between-header-footer: 83vh;
$space-above-footer: 93vh;
$space-for-conversation: 85vh;
