$primary-font: "Source Sans Pro", sans-serif;

$primary-color: #10ac84;

$spacing1: 1rem;
$spacinghalf: 0.5rem;
$spacingnav: 48px;
//User profiles
$box-shadow: grey;
$slider-color: white;
$space-between-header-footer: 83vh;
$space-above-footer: 93vh;
